<div>
    <button type="button" class="btn btn-primary padright" ng-click="markers.m1.icon=icon" ng-repeat="(key, icon) in icons">{{ key }}</button>
    <leaflet markers="markers" center="vigo"></leaflet> <!--center="lisbon"-->
</div>
<div class="list-group">
  <a ng-repeat="nasa in nasas" ng-href="#/nasas/{{nasa.id}}" class="list-group-item" ng-class="{active:nasa.id == elementActive}">
    
    <div class="circle" ng-class="{offline : nasa.last_out > nasa.last_in}"></div>
    <h4 class="list-group-item-heading">
		{{nasa.name}}
		<span>Última sincronización {{nasa.last_log | date}}</span>
    </h4>
    <p class="list-group-item-text" ng-class="{'active' : elementActive == $index }">
    	la nasa está en latitud : {{nasa.gps.lat}}, longitud {{nasa.gps.long}}, actualmente 
    	<strong ng-hide="nasa.last_out > nasa.last_in">sumergido</strong> 
    	<strong ng-show="nasa.last_out > nasa.last_in">fuera del agua</strong>
    	<span ng-show="nasa.detection.width < 16">, hay algo dentro de la nasa de tamaño 
    		<strong>{{nasa.detection.height}}x{{nasa.detection.height}}</strong>cm
    	</span>
    	<span ng-hide="nasa.detection.width < 16">, no hay nada en la nasa.</span>
    </p>
  </a>
</div>
