/* app css stylesheet */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(/fonts/open-sans/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format("woff2"), url(/fonts/open-sans/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(/fonts/open-sans/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2"), url(/fonts/open-sans/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(/fonts/open-sans/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format("woff2"), url(/fonts/open-sans/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(/fonts/open-sans/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2"), url(/fonts/open-sans/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(/fonts/open-sans/EInbV5DfGHOiMmvb1Xr-hhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2"), url(/fonts/open-sans/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxtTIkQYohD4BpHvJ3NvbHoA.woff2) format("woff2"), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(/fonts/open-sans/xjAJXh38I15wypJXxuGMBogp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2"), url(/fonts/open-sans/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxsiAiQ_a33snTsJhwZvMEaI.woff2) format("woff2"), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxv79_ZuUxCigM2DespTnFaw.woff2) format("woff2"), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxmPkvcX8kXDzy1NrkNCBkJ4.woff2) format("woff2"), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxsBo4hlZyBvkZICS3KpNonM.woff) format("woff"); }
.circle {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #48ba48;
  display: inline-block;
  margin-right: 5px;
  /* width and height can be anything, as long as they're equal */ }
  .circle.offline {
    background: #ba4c48; }

h4.list-group-item-heading {
  display: inline-block; }
  h4.list-group-item-heading > span {
    color: #989898;
    font-size: 0.6em; }

body {
  font-family: "Open Sans";
  background: #f0f0f0;
  min-height: 2000px;
  padding-top: 70px; }

.navbar-default .navbar-brand {
  padding: 8px 12px;
  color: #537FFF; }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand a:hover,
  .navbar-default .navbar-brand a:focus {
    color: #2960FE; }
  .navbar-default .navbar-brand img {
    padding: 0 10px 0 0;
    display: inline;
    max-height: 100%; }

.angular-leaflet-map {
  min-height: 400px; }

.leaflet-popup-content-wrapper .ng-scope {
  padding: 9px;
  margin: 0px; }

h1 {
  font-size: 1.6em;
  font-weight: 300; }

/*# sourceMappingURL=app.css.map */
